* { 
    padding: 0; 
    margin: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
} 

html, body {margin: 0; height: 100%; overflow: hidden}
    
 
.container {
    position: fixed;
    margin-left: 15px;
    margin-top: 15px;
    width: 250px;
}

.slider-container {
    padding: 15px;
    font-size: 18px;
    margin-bottom: 10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
}


#time-slider-container {
    display: flex;
    flex-direction:row;
    margin-bottom: 10px;
}

#space-slider-container {
    display: flex;
    flex-direction:row;
}


textarea {
    resize: none;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    text-align: left; 
    margin-bottom: 10px;
    border: 1px solid black;
}

input[type=range] {
    -webkit-appearance: none;
    width: 62%;
    /* margin-left: 30px; */
    position: absolute;
    margin-left: 65px;

    
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; 
  }


input[type=range]::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 10px;
    background: #000000;
    cursor: pointer;
    margin-top: -1px;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 18px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #010101;

  }

input[type=button] {
    background-color: white;
    padding: 4px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
}

input[type=color]::-webkit-color-swatch-wrapper{
    padding:0;
  }

input[type=color]:nth-child(2)::-webkit-color-swatch{
    border: 1px black solid;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}  

input[type=color]:nth-child(3)::-webkit-color-swatch{
    border: 1px black solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-left: none;
}  

input[type="color"] {
	width: 100%;
	height: 38px;
    border: none;
    color: transparent;
    background-color: transparent;
    cursor: pointer;
    
}

.buttons-container {
    display: flex;
    flex-direction: row;
}





